@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container-cadastro{
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: -1px 3px 21px 5px rgba(150,150,150,0.75);
    -webkit-box-shadow: -1px 3px 21px 5px rgba(150,150,150,0.75);
    -moz-box-shadow: -1px 3px 21px 5px rgba(150,150,150,0.75);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4%;
}

.left img {
    border-radius: 15px;
}

.text-left {
    font-family: 'Signika Negative', sans-serif;
    font-size: 0.5em;
}

span {
    color: red;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.form-bts {
    width: 87%;
    padding: 3% 5%;
}

.submits {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.submits a {
    margin-left: 20px;
}

